	<div class="container">
		<div class="row hw_container">
			<div class="col-md-3">
				<%= hw.title %>
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-3">
				<a href="#" class='sub-drop-down btn btn-primary btn-sm' data-id="<%=hw.id%>">view assignments</a>
				<a href="<%= teacher_homework_path(:id => hw.id, :teacher_id => current_user.id) %>" class='btn btn-primary btn-sm'>view </a>
			</div>
		</div>
		<div class="submission_box" id='submission_box<%= hw.id %>'>
			<%= render :partial => 'assignments_container', :locals => { :assignments => hw.homework_assignments } %>

		</div>
	</div>