<%= content_tag :div, class: 'page-header' do %>
  <%= content_tag :h1 do %>
    Homework Assignments for <%= current_user.username %>
  <% end %>
<% end %>
<input type="search" name="search" class="search_box form-control" limit="10" model="Homework" type='' partial="/teacher/homework/homework_container_wrapper" user_scope="current_user" field="title" placeholder="start typing homework title...">

<div class="results">
		<div class="row title-div">
			<div class="col-md-3">
				Assignment
			</div>
			<div class="col-md-3">
				High Score
			</div>
			<div class="col-md-3">
				
			</div>
			<div class="col-md-3">
				Actions
			</div>
		</div>
	<% @homeworks.each do |hw| %>
		<%= render :partial => 'teacher/homework/homework_container', :locals => { :hw => hw } %>
	<% end %>
</div>
<center>
	<%= will_paginate @homeworks %>
</center>