<h1>Create new Homework</h1>


	<%= form_for 'homework', method: 'POST', url: teacher_homework_index_path(:teacher_id => current_user.id), html: {id: 'new_homework_form'} do |submission|%>
	<div class="form-group">
		<%= label :title, 'Title'%>
		<%= submission.text_field :title, class: 'form-control', placeholder: 'Title...' %>	
	</div>

	<div class="form-group">
		<%= label :content, 'Content'%>
		<%= submission.text_area :content, class: 'form-control', placeholder: 'Content...' %>
	</div>
	

	<% if flash[:error] %>
		<div id="error_report" style="display: block;"><%= flash[:error] %></div>
	<% end %>

	<% if flash[:update] %>
		<div id="status" style="display: block;"><%= flash[:update] %></div>
	<% end %>

	<button type="submit" class="btn btn-primary">Submit</button>
<% end %>
