<h1><%= @homework.title %></h1>
<p>Q:</p>
<p><%= @homework.content %></p>

<p>A:</p>
<p><%= @submission.content %></p>

	<%= form_for 'submission', url: grade_submission_teacher_homework_path(:teacher_id => current_user.id, :id => @submission.id), html: {id: 'submission_form'} do |submission|%>
	<%= submission.text_area :feedback, class: 'form-control', placeholder: 'Provide feedback...' %>
	<%= submission.number_field :score, class: 'form-control', placeholder: 'score...' %>
	<%= submission.hidden_field :submission_id, value: @submission.id %>
	
	<% if flash[:error] %>
		<div id="error_report" style="display: block;"><%= flash[:error] %></div>
	<% end %>

	<% if flash[:update] %>
		<div id="status" style="display: block;"><%= flash[:update] %></div>
	<% end %>

	<button type="submit" class="btn btn-primary">Submit</button>
<% end %>
